beautifulsoup4==4.9.3
bs4==0.0.1
django-bootstrap4==3.0.0
Pillow==8.2.0
pytz==2020.1
soupsieve==2.2.1
sqlparse==0.4.1
certifi==2020.12.5
chardet==4.0.0
idna==2.10
pytz==2020.1
requests==2.25.1
sqlparse==0.4.1
urllib3==1.26.4
django-mathfilters==1.0.0
sorl-thumbnail==12.7.0
asgiref==3.3.1
Django==3.1.7
selenium==3.141.0
alabaster==0.7.12
asgiref==3.3.1
Babel==2.9.1
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
Django==3.1.7
django-bootstrap4==3.0.0
django-mathfilters==1.0.0
docutils==0.17.1
idna==2.10
imagesize==1.2.0
Jinja2==2.11.3
MarkupSafe==1.1.1
packaging==20.9
Pillow==8.2.0
Pygments==2.9.0
pyparsing==2.4.7
pytz==2020.1
requests==2.25.1
selenium==3.141.0
snowballstemmer==2.1.0
sorl-thumbnail==12.7.0
soupsieve==2.2.1
Sphinx==4.0.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sqlparse==0.4.1
urllib3==1.26.4
